In [ ]:
!pip install tgan

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tgan
  Downloading tgan-0.1.0-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.21.6)
Collecting tensorflow<2.0,>=1.13.0
  Downloading tensorflow-1.15.5-cp37-cp37m-manylinux2010_x86_64.whl (110.5 MB)
     |████████████████████████████████| 110.5 MB 1.3 MB/s
Requirement already satisfied: scikit-learn>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.0.2)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from tgan) (1.3.5)
Collecting tensorpack==0.9.4
  Downloading tensorpack-0.9.4-py2.py3-none-any.whl (273 kB)
     |████████████████████████████████| 273 kB 49.2 MB/s
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (0.8.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (1.15.0)
Requirement already satisfied: termcolor>=1.1 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (1.1.0)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (1.0.4)
Collecting msgpack-numpy>=0.4.4.2
  Downloading msgpack_numpy-0.4.8-py2.py3-none-any.whl (6.9 kB)
Requirement already satisfied: tqdm>4.11.1 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (4.64.0)
Requirement already satisfied: pyzmq>=16 in /usr/local/lib/python3.7/dist-packages (from tensorpack==0.9.4->tgan) (23.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->tgan) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->tgan) (2.8.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.2->tgan) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.2->tgan) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.2->tgan) (1.4.1)
Collecting numpy>=1.16.0
  Downloading numpy-1.18.5-cp37-cp37m-manylinux1_x86_64.whl (20.1 MB)
     |████████████████████████████████| 20.1 MB 1.4 MB/s
Collecting h5py<=2.10.0
  Downloading h5py-2.10.0-cp37-cp37m-manylinux1_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 36.3 MB/s
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.37.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.8.1)
Collecting tensorflow-estimator==1.15.1
  Downloading tensorflow_estimator-1.15.1-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 45.9 MB/s
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (3.3.0)
Collecting gast==0.2.2
  Downloading gast-0.2.2.tar.gz (10 kB)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.46.3)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.1.0)
Collecting tensorboard<1.16.0,>=1.15.0
  Downloading tensorboard-1.15.0-py3-none-any.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 34.7 MB/s
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (0.2.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.14.1)
Collecting keras-applications>=1.0.8
  Downloading Keras_Applications-1.0.8-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 5.4 MB/s
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (1.1.2)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.0,>=1.13.0->tgan) (3.17.3)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (3.3.7)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (57.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (1.0.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (4.11.4)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.16.0,>=1.15.0->tensorflow<2.0,>=1.13.0->tgan) (3.8.0)
Building wheels for collected packages: gast
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-py3-none-any.whl size=7554 sha256=f9cc6ccbb4ea5728c4bf9717cc38252e4f53904460dfd0c4958a8a553ef6a18f
  Stored in directory: /root/.cache/pip/wheels/21/7f/02/420f32a803f7d0967b48dd823da3f558c5166991bfd204eef3
Successfully built gast
Installing collected packages: numpy, h5py, tensorflow-estimator, tensorboard, msgpack-numpy, keras-applications, gast, tensorpack, tensorflow, tgan
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: h5py
    Found existing installation: h5py 3.1.0
    Uninstalling h5py-3.1.0:
      Successfully uninstalled h5py-3.1.0
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.8.0
    Uninstalling tensorflow-estimator-2.8.0:
      Successfully uninstalled tensorflow-estimator-2.8.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.8.2+zzzcolab20220527125636
    Uninstalling tensorflow-2.8.2+zzzcolab20220527125636:
      Successfully uninstalled tensorflow-2.8.2+zzzcolab20220527125636
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray-einstats 0.2.2 requires numpy>=1.21, but you have numpy 1.18.5 which is incompatible.
tensorflow-probability 0.16.0 requires gast>=0.3.2, but you have gast 0.2.2 which is incompatible.
tables 3.7.0 requires numpy>=1.19.0, but you have numpy 1.18.5 which is incompatible.
kapre 0.3.7 requires tensorflow>=2.0.0, but you have tensorflow 1.15.5 which is incompatible.
jaxlib 0.3.7+cuda11.cudnn805 requires numpy>=1.19, but you have numpy 1.18.5 which is incompatible.
jax 0.3.8 requires numpy>=1.19, but you have numpy 1.18.5 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed gast-0.2.2 h5py-2.10.0 keras-applications-1.0.8 msgpack-numpy-0.4.8 numpy-1.18.5 tensorboard-1.15.0 tensorflow-1.15.5 tensorflow-estimator-1.15.1 tensorpack-0.9.4 tgan-0.1.0

In [ ]:
#import libraries
import pandas as pd
from tgan.model import TGANModel

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/hooks.py:17: The name tf.train.SessionRunHook is deprecated. Please use tf.estimator.SessionRunHook instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/optimizer.py:18: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sesscreate.py:20: The name tf.train.SessionCreator is deprecated. Please use tf.compat.v1.train.SessionCreator instead.

In [ ]:
df = pd.read_csv('/content/advertising.csv')

df.sample(10)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
546,78.77,28,63497.62,211.83,Public-key intangible Graphical User Interface,Gomezport,0,Guam,2016-01-01 08:27:06,0
107,42.39,42,66541.05,150.99,De-engineered mobile infrastructure,Erinton,0,Christmas Island,2016-04-28 05:50:25,1
877,68.68,34,77220.42,187.03,Sharable encompassing database,Lake Jenniferton,1,Equatorial Guinea,2016-07-15 09:42:19,0
914,41.86,39,53041.77,128.62,Open-source stable paradigm,Hawkinsbury,1,Ethiopia,2016-03-26 15:28:07,1
498,73.94,27,68333.01,173.49,Function-based incremental standardization,North Alexandra,0,Myanmar,2016-02-10 13:46:35,0
238,74.32,33,62060.11,128.17,Monitored real-time superstructure,North Kevinside,0,South Africa,2016-05-23 21:14:38,1
98,35.61,46,51868.85,158.22,Up-sized secondary software,North Michael,0,Egypt,2016-03-28 08:46:26,1
722,39.47,43,65576.05,163.48,Team-oriented systematic installation,Crawfordfurt,1,Uganda,2016-07-06 23:09:07,1
291,84.71,32,61610.05,210.23,Reactive responsive emulation,Greenechester,0,Taiwan,2016-05-29 07:29:27,0
91,55.79,24,59550.05,149.67,Pre-emptive content-based focus group,Port Sarahhaven,0,Puerto Rico,2016-02-20 20:47:05,1

In [ ]:
#show the number of unique values in all the columns in the Dataframe
df.nunique().sort_values(ascending=False)

Area Income                 1000
Ad Topic Line               1000
Timestamp                   1000
City                         969
Daily Internet Usage         966
Daily Time Spent on Site     900
Country                      237
Age                           43
Male                           2
Clicked on Ad                  2
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [ ]:
#find the number of null values in the Dataframe

df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [ ]:
df.skew()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Daily Time Spent on Site   -0.371760
Age                         0.479142
Area Income                -0.650373
Daily Internet Usage       -0.033537
Male                        0.076169
Clicked on Ad               0.000000
dtype: float64

In [ ]:
#rename the Male column to gender
df = df.rename({'Male':'Gender'}, axis = 1)

df.sample(10)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
735,83.91,29,53223.58,222.87,Distributed bifurcated challenge,Haleberg,0,Burundi,2016-01-04 22:27:25,0
933,36.73,34,46737.34,149.79,Multi-lateral attitude-oriented adapter,South Henry,1,Albania,2016-06-27 01:56:36,1
588,77.31,32,62792.43,238.10,Assimilated homogeneous service-desk,North Garyhaven,0,Nepal,2016-06-17 20:18:27,0
540,77.47,36,70510.59,222.91,Assimilated actuating policy,Hatfieldshire,1,Jamaica,2016-03-14 03:29:12,0
157,41.73,28,61142.33,202.18,Sharable dedicated Graphic Interface,Port Erikhaven,1,Cuba,2016-01-07 19:16:05,1
193,43.67,53,46004.31,143.79,Cloned analyzing artificial intelligence,South Tiffanyton,1,Bouvet Island (Bouvetoya),2016-07-21 21:16:35,1
573,74.59,23,40135.06,158.35,Phased clear-thinking encoding,Lake Gerald,1,United States Virgin Islands,2016-02-15 16:52:04,1
55,80.60,31,67479.62,177.55,Sharable bottom-line solution,Thomasview,0,Croatia,2016-04-07 03:56:16,0
587,43.83,45,35684.82,129.01,Total human-resource flexibility,Greerport,0,Saudi Arabia,2016-01-29 05:39:16,1
734,56.57,26,56435.60,131.98,Multi-channeled non-volatile website,West Ericaport,0,Senegal,2016-01-23 13:14:18,1

In [ ]:
#rename the values in the Gender column
df = df.replace({'Gender' : {1 : 'Male', 0:'Female'}})

df.sample(3)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
320,51.50,34,67050.16,135.31,Configurable dynamic adapter,East Vincentstad,Female,Zambia,2016-03-15 11:25:48,1
656,85.24,31,61840.26,182.84,Optional contextually-based flexibility,Harrisonmouth,Male,Burkina Faso,2016-06-17 03:23:13,0
450,43.41,28,59144.02,160.73,Customer-focused zero-defect process improvement,Lovemouth,Female,Egypt,2016-02-05 15:26:37,1

In [ ]:
cols = df.columns.tolist()

In [ ]:
tgan_ = TGANModel(cols, max_epoch=3, batch_size=4)

In [ ]:
tgan_.fit(df)

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/graph_builder/model_desc.py:29: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/graph_builder/model_desc.py:39: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/input_source/input_source.py:219: The name tf.FIFOQueue is deprecated. Please use tf.queue.FIFOQueue instead.

[0623 02:58:35 @input_source.py:222] Setting up the queue 'QueueInput/input_queue' for CPU prefetching ...
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/summary.py:237: The name tf.get_variable_scope is deprecated. Please use tf.compat.v1.get_variable_scope instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/summary.py:27: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/summary.py:254: The name tf.get_variable is deprecated. Please use tf.compat.v1.get_variable instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/summary.py:264: The name tf.summary.scalar is deprecated. Please use tf.compat.v1.summary.scalar instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/collection.py:105: The name tf.GraphKeys is deprecated. Please use tf.compat.v1.GraphKeys instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/collection.py:33: The name tf.get_collection is deprecated. Please use tf.compat.v1.get_collection instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:455: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:458: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:259: LSTMCell.__init__ (from tensorflow.python.ops.rnn_cell_impl) is deprecated and will be removed in a future version.
Instructions for updating:
This class is equivalent as tf.keras.layers.LSTMCell, and will be replaced by that in Tensorflow 2.0.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow_core/python/ops/rnn_cell_impl.py:958: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow_core/python/ops/rnn_cell_impl.py:962: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
[0623 02:58:35 @registry.py:126] gen/LSTM/00/FC input: [4, 100]
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/models/fc.py:57: The name tf.layers.Dense is deprecated. Please use tf.compat.v1.layers.Dense instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/models/fc.py:67: Layer.apply (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.__call__` method instead.
[0623 02:58:35 @registry.py:134] gen/LSTM/00/FC output: [4, 100]
[0623 02:58:35 @registry.py:126] gen/LSTM/00/FC2 input: [4, 100]
[0623 02:58:35 @registry.py:134] gen/LSTM/00/FC2 output: [4, 900]
[0623 02:58:35 @registry.py:126] gen/LSTM/00/FC3 input: [4, 900]
[0623 02:58:36 @registry.py:134] gen/LSTM/00/FC3 output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/01/FC input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/01/FC output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/01/FC2 input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/01/FC2 output: [4, 43]
[0623 02:58:36 @registry.py:126] gen/LSTM/01/FC3 input: [4, 43]
[0623 02:58:36 @registry.py:134] gen/LSTM/01/FC3 output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/02/FC input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/02/FC output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/02/FC2 input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/02/FC2 output: [4, 1000]
[0623 02:58:36 @registry.py:126] gen/LSTM/02/FC3 input: [4, 1000]
[0623 02:58:36 @registry.py:134] gen/LSTM/02/FC3 output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/03/FC input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/03/FC output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/03/FC2 input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/03/FC2 output: [4, 966]
[0623 02:58:36 @registry.py:126] gen/LSTM/03/FC3 input: [4, 966]
[0623 02:58:36 @registry.py:134] gen/LSTM/03/FC3 output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/04/FC input: [4, 100]
[0623 02:58:36 @registry.py:134] gen/LSTM/04/FC output: [4, 100]
[0623 02:58:36 @registry.py:126] gen/LSTM/04/FC2 input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/04/FC2 output: [4, 1000]
[0623 02:58:37 @registry.py:126] gen/LSTM/04/FC3 input: [4, 1000]
[0623 02:58:37 @registry.py:134] gen/LSTM/04/FC3 output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/05/FC input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/05/FC output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/05/FC2 input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/05/FC2 output: [4, 969]
[0623 02:58:37 @registry.py:126] gen/LSTM/05/FC3 input: [4, 969]
[0623 02:58:37 @registry.py:134] gen/LSTM/05/FC3 output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/06/FC input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/06/FC output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/06/FC2 input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/06/FC2 output: [4, 2]
[0623 02:58:37 @registry.py:126] gen/LSTM/06/FC3 input: [4, 2]
[0623 02:58:37 @registry.py:134] gen/LSTM/06/FC3 output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/07/FC input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/07/FC output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/07/FC2 input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/07/FC2 output: [4, 237]
[0623 02:58:37 @registry.py:126] gen/LSTM/07/FC3 input: [4, 237]
[0623 02:58:37 @registry.py:134] gen/LSTM/07/FC3 output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/08/FC input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/08/FC output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/08/FC2 input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/08/FC2 output: [4, 1000]
[0623 02:58:37 @registry.py:126] gen/LSTM/08/FC3 input: [4, 1000]
[0623 02:58:37 @registry.py:134] gen/LSTM/08/FC3 output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/09/FC input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/09/FC output: [4, 100]
[0623 02:58:37 @registry.py:126] gen/LSTM/09/FC2 input: [4, 100]
[0623 02:58:37 @registry.py:134] gen/LSTM/09/FC2 output: [4, 2]
[0623 02:58:37 @registry.py:126] gen/LSTM/09/FC3 input: [4, 2]
[0623 02:58:37 @registry.py:134] gen/LSTM/09/FC3 output: [4, 100]
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:494: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:443: The name tf.log is deprecated. Please use tf.math.log instead.

[0623 02:58:38 @registry.py:126] discrim/dis_fc0/fc input: [4, 6119]
[0623 02:58:38 @registry.py:134] discrim/dis_fc0/fc output: [4, 100]
[0623 02:58:38 @registry.py:126] discrim/dis_fc0/fc_diversity input: [4, 100]
[0623 02:58:38 @registry.py:134] discrim/dis_fc0/fc_diversity output: [4, 100]
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/models/batch_norm.py:204: The name tf.layers.BatchNormalization is deprecated. Please use tf.compat.v1.layers.BatchNormalization instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/models/batch_norm.py:212: The name tf.add_to_collection is deprecated. Please use tf.compat.v1.add_to_collection instead.

[0623 02:58:38 @registry.py:126] discrim/dis_fc_top input: [4, 110]
[0623 02:58:38 @registry.py:134] discrim/dis_fc_top output: [4, 1]
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:118: The name tf.summary.histogram is deprecated. Please use tf.compat.v1.summary.histogram instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tgan/model.py:551: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

[0623 02:58:43 @logger.py:90] Argv: /usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py -f /root/.local/share/jupyter/runtime/kernel-a9234ce7-9019-42ab-b201-e3f12132f45e.json
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/saver.py:43: The name tf.gfile.IsDirectory is deprecated. Please use tf.io.gfile.isdir instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/saver.py:44: The name tf.gfile.MakeDirs is deprecated. Please use tf.io.gfile.makedirs instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/common.py:41: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

[0623 02:58:43 @model_utils.py:67] List of Trainable Variables:
name                              shape          #elements
--------------------------------  -----------  -----------
gen/LSTM/go:0                     [1, 100]             100
gen/LSTM/lstm_cell/kernel:0       [500, 400]        200000
gen/LSTM/lstm_cell/bias:0         [400]                400
gen/LSTM/00/FC/W:0                [100, 100]         10000
gen/LSTM/00/FC/b:0                [100]                100
gen/LSTM/00/FC2/W:0               [100, 900]         90000
gen/LSTM/00/FC2/b:0               [900]                900
gen/LSTM/00/FC3/W:0               [900, 100]         90000
gen/LSTM/00/FC3/b:0               [100]                100
gen/LSTM/00/attw:0                [1, 1, 1]              1
gen/LSTM/01/FC/W:0                [100, 100]         10000
gen/LSTM/01/FC/b:0                [100]                100
gen/LSTM/01/FC2/W:0               [100, 43]           4300
gen/LSTM/01/FC2/b:0               [43]                  43
gen/LSTM/01/FC3/W:0               [43, 100]           4300
gen/LSTM/01/FC3/b:0               [100]                100
gen/LSTM/01/attw:0                [2, 1, 1]              2
gen/LSTM/02/FC/W:0                [100, 100]         10000
gen/LSTM/02/FC/b:0                [100]                100
gen/LSTM/02/FC2/W:0               [100, 1000]       100000
gen/LSTM/02/FC2/b:0               [1000]              1000
gen/LSTM/02/FC3/W:0               [1000, 100]       100000
gen/LSTM/02/FC3/b:0               [100]                100
gen/LSTM/02/attw:0                [3, 1, 1]              3
gen/LSTM/03/FC/W:0                [100, 100]         10000
gen/LSTM/03/FC/b:0                [100]                100
gen/LSTM/03/FC2/W:0               [100, 966]         96600
gen/LSTM/03/FC2/b:0               [966]                966
gen/LSTM/03/FC3/W:0               [966, 100]         96600
gen/LSTM/03/FC3/b:0               [100]                100
gen/LSTM/03/attw:0                [4, 1, 1]              4
gen/LSTM/04/FC/W:0                [100, 100]         10000
gen/LSTM/04/FC/b:0                [100]                100
gen/LSTM/04/FC2/W:0               [100, 1000]       100000
gen/LSTM/04/FC2/b:0               [1000]              1000
gen/LSTM/04/FC3/W:0               [1000, 100]       100000
gen/LSTM/04/FC3/b:0               [100]                100
gen/LSTM/04/attw:0                [5, 1, 1]              5
gen/LSTM/05/FC/W:0                [100, 100]         10000
gen/LSTM/05/FC/b:0                [100]                100
gen/LSTM/05/FC2/W:0               [100, 969]         96900
gen/LSTM/05/FC2/b:0               [969]                969
gen/LSTM/05/FC3/W:0               [969, 100]         96900
gen/LSTM/05/FC3/b:0               [100]                100
gen/LSTM/05/attw:0                [6, 1, 1]              6
gen/LSTM/06/FC/W:0                [100, 100]         10000
gen/LSTM/06/FC/b:0                [100]                100
gen/LSTM/06/FC2/W:0               [100, 2]             200
gen/LSTM/06/FC2/b:0               [2]                    2
gen/LSTM/06/FC3/W:0               [2, 100]             200
gen/LSTM/06/FC3/b:0               [100]                100
gen/LSTM/06/attw:0                [7, 1, 1]              7
gen/LSTM/07/FC/W:0                [100, 100]         10000
gen/LSTM/07/FC/b:0                [100]                100
gen/LSTM/07/FC2/W:0               [100, 237]         23700
gen/LSTM/07/FC2/b:0               [237]                237
gen/LSTM/07/FC3/W:0               [237, 100]         23700
gen/LSTM/07/FC3/b:0               [100]                100
gen/LSTM/07/attw:0                [8, 1, 1]              8
gen/LSTM/08/FC/W:0                [100, 100]         10000
gen/LSTM/08/FC/b:0                [100]                100
gen/LSTM/08/FC2/W:0               [100, 1000]       100000
gen/LSTM/08/FC2/b:0               [1000]              1000
gen/LSTM/08/FC3/W:0               [1000, 100]       100000
gen/LSTM/08/FC3/b:0               [100]                100
gen/LSTM/08/attw:0                [9, 1, 1]              9
gen/LSTM/09/FC/W:0                [100, 100]         10000
gen/LSTM/09/FC/b:0                [100]                100
gen/LSTM/09/FC2/W:0               [100, 2]             200
gen/LSTM/09/FC2/b:0               [2]                    2
gen/LSTM/09/FC3/W:0               [2, 100]             200
gen/LSTM/09/FC3/b:0               [100]                100
gen/LSTM/09/attw:0                [10, 1, 1]            10
discrim/dis_fc0/fc/W:0            [6119, 100]       611900
discrim/dis_fc0/fc/b:0            [100]                100
discrim/dis_fc0/fc_diversity/W:0  [100, 100]         10000
discrim/dis_fc0/fc_diversity/b:0  [100]                100
discrim/dis_fc0/bn/beta:0         [110]                110
discrim/dis_fc_top/W:0            [110, 1]             110
discrim/dis_fc_top/b:0            [1]                    1
Number of trainable variables: 80
Number of parameters (elements): 2154795
Storage space needed for all trainable variables: 8.22MB
[0623 02:58:43 @base.py:209] Setup callbacks graph ...
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/graph.py:54: The name tf.train.SessionRunArgs is deprecated. Please use tf.estimator.SessionRunArgs instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/common.py:75: The name tf.VariableScope is deprecated. Please use tf.compat.v1.VariableScope instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/common.py:77: The name tf.train.get_or_create_global_step is deprecated. Please use tf.compat.v1.train.get_or_create_global_step instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/steps.py:117: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/saver.py:55: The name tf.train.Saver is deprecated. Please use tf.compat.v1.train.Saver instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/saver.py:59: The name tf.train.SaverDef is deprecated. Please use tf.compat.v1.train.SaverDef instead.

[0623 02:58:43 @summary.py:46] [MovingAverageSummary] 6 operations in collection 'MOVING_SUMMARY_OPS' will be run with session hooks.
[0623 02:58:43 @summary.py:93] Summarizing collection 'summaries' of size 9.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/summary.py:94: The name tf.summary.merge_all is deprecated. Please use tf.compat.v1.summary.merge_all instead.

[0623 02:58:43 @graph.py:98] Applying collection UPDATE_OPS of 4 ops.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/monitor.py:261: The name tf.summary.FileWriter is deprecated. Please use tf.compat.v1.summary.FileWriter instead.

[0623 02:58:44 @base.py:230] Creating the session ...
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sesscreate.py:42: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sesscreate.py:71: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sesscreate.py:62: get_backward_walk_ops (from tensorflow.contrib.graph_editor.select) is deprecated and will be removed after 2019-06-06.
Instructions for updating:
Please use tensorflow.python.ops.op_selector.get_backward_walk_ops.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sesscreate.py:72: The name tf.local_variables_initializer is deprecated. Please use tf.compat.v1.local_variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sesscreate.py:73: The name tf.tables_initializer is deprecated. Please use tf.compat.v1.tables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/train/base.py:254: The name tf.train.MonitoredSession is deprecated. Please use tf.compat.v1.train.MonitoredSession instead.

[0623 02:58:45 @base.py:236] Initializing the session ...
[0623 02:58:45 @base.py:243] Graph Finalized.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/common.py:89: The name tf.train.global_step is deprecated. Please use tf.compat.v1.train.global_step instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/common.py:90: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

[0623 02:58:45 @concurrency.py:38] Starting EnqueueThread QueueInput/input_queue ...
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/monitor.py:309: The name tf.gfile.Exists is deprecated. Please use tf.io.gfile.exists instead.

[0623 02:58:46 @base.py:275] Start Epoch 1 ...

100%|#########9|9994/10000[05:39<00:00,30.91it/s]

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/monitor.py:148: The name tf.Summary is deprecated. Please use tf.compat.v1.Summary instead.

100%|##########|10000/10000[05:42<00:00,29.23it/s]

[0623 03:04:28 @base.py:285] Epoch 1 (global_step 10000) finished, time:5 minutes 42 seconds.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/callbacks/saver.py:77: The name tf.train.get_global_step is deprecated. Please use tf.compat.v1.train.get_global_step instead.

[0623 03:04:28 @saver.py:79] Model saved to output/model/model-10000.
[0623 03:04:28 @monitor.py:467] GAN_loss/discrim/accuracy_fake: 0.75
[0623 03:04:28 @monitor.py:467] GAN_loss/discrim/accuracy_real: 0
[0623 03:04:28 @monitor.py:467] GAN_loss/discrim/loss: 0.76169
[0623 03:04:28 @monitor.py:467] GAN_loss/gen/final-g-loss: 1.761
[0623 03:04:28 @monitor.py:467] GAN_loss/gen/klloss: 0.8825
[0623 03:04:28 @monitor.py:467] GAN_loss/gen/loss: 0.87849
[0623 03:04:28 @monitor.py:467] QueueInput/queue_size: 50
[0623 03:04:28 @base.py:275] Start Epoch 2 ...

100%|##########|10000/10000[05:33<00:00,29.96it/s]

[0623 03:10:02 @base.py:285] Epoch 2 (global_step 20000) finished, time:5 minutes 33 seconds.
[0623 03:10:02 @saver.py:79] Model saved to output/model/model-20000.
[0623 03:10:02 @monitor.py:467] GAN_loss/discrim/accuracy_fake: 0.5
[0623 03:10:02 @monitor.py:467] GAN_loss/discrim/accuracy_real: 0.5
[0623 03:10:02 @monitor.py:467] GAN_loss/discrim/loss: 0.70587
[0623 03:10:02 @monitor.py:467] GAN_loss/gen/final-g-loss: 1.4258
[0623 03:10:02 @monitor.py:467] GAN_loss/gen/klloss: 0.62117
[0623 03:10:02 @monitor.py:467] GAN_loss/gen/loss: 0.80466
[0623 03:10:02 @monitor.py:467] QueueInput/queue_size: 50
[0623 03:10:02 @base.py:275] Start Epoch 3 ...

100%|##########|10000/10000[05:31<00:00,30.19it/s]

[0623 03:15:33 @base.py:285] Epoch 3 (global_step 30000) finished, time:5 minutes 31 seconds.
[0623 03:15:33 @saver.py:79] Model saved to output/model/model-30000.
[0623 03:15:33 @monitor.py:467] GAN_loss/discrim/accuracy_fake: 1
[0623 03:15:33 @monitor.py:467] GAN_loss/discrim/accuracy_real: 0
[0623 03:15:33 @monitor.py:467] GAN_loss/discrim/loss: 0.59101
[0623 03:15:33 @monitor.py:467] GAN_loss/gen/final-g-loss: 2.8467
[0623 03:15:33 @monitor.py:467] GAN_loss/gen/klloss: 1.8698
[0623 03:15:33 @monitor.py:467] GAN_loss/gen/loss: 0.97694
[0623 03:15:33 @monitor.py:467] QueueInput/queue_size: 50
[0623 03:15:33 @base.py:289] Training has finished!
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/predict/config.py:101: The name tf.train.ChiefSessionCreator is deprecated. Please use tf.compat.v1.train.ChiefSessionCreator instead.

[0623 03:15:34 @input_source.py:178] EnqueueThread QueueInput/input_queue Exited.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/collection.py:45: The name tf.get_collection_ref is deprecated. Please use tf.compat.v1.get_collection_ref instead.

[0623 03:15:35 @collection.py:146] New collections created in tower : tf.GraphKeys.REGULARIZATION_LOSSES
[0623 03:15:35 @collection.py:165] These collections were modified but restored in : (tf.GraphKeys.SUMMARIES: 0->2)
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sessinit.py:120: The name tf.train.NewCheckpointReader is deprecated. Please use tf.compat.v1.train.NewCheckpointReader instead.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorpack/tfutils/sessinit.py:127: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

[0623 03:15:35 @sessinit.py:87] WRN The following variables are in the checkpoint, but not found in the graph: global_step, optimize/beta1_power, optimize/beta2_power
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
[0623 03:15:36 @sessinit.py:114] Restoring checkpoint from output/model/model-30000 ...
INFO:tensorflow:Restoring parameters from output/model/model-30000

In [ ]:
samples = tgan_.sample(1000)

samples.head()

|          |249/?[00:02<00:00,109.74it/s]

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,38.35,38,56909.3,108.25,Organic 3rdgeneration encryption,New Williamville,Male,Antarctica (the territory South of 60 deg S),2016-06-10 22:21:10,0
1,75.64,36,52802.58,204.79,Networked stable array,South Brian,Female,Cambodia,2016-04-08 14:35:44,0
2,56.39,36,67186.54,156.11,Networked responsive application,South Peter,Female,Panama,2016-03-31 08:53:43,1
3,56.39,36,23821.72,254.59,Front-line multi-state hub,New Tinamouth,Female,Eritrea,2016-03-19 08:00:58,0
4,88.82,38,71055.22,189.91,Centralized systematic knowledgebase,Millerchester,Male,Mauritius,2016-07-13 14:05:22,0

In [17]:
samples.shape

(1000, 10)

In [19]:
samples['Timestamp'] = pd.to_datetime(samples['Timestamp'])

samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   object
 1   Age                       1000 non-null   object
 2   Area Income               1000 non-null   object
 3   Daily Internet Usage      1000 non-null   object
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Gender                    1000 non-null   object
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 78.2+ KB

In [25]:
num_cols = ['Daily Time Spent on Site','Age','Area Income','Daily Internet Usage']

samples[num_cols] = samples[num_cols].astype(str).astype('float')
samples.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,64.152360,35.426000,54760.865250,181.470850
std,16.212196,7.144338,12398.477316,42.348354
min,32.990000,21.000000,18819.340000,105.150000
25%,53.885000,30.000000,49206.400000,144.270000
50%,64.305000,36.000000,56909.300000,179.040000
75%,76.640000,41.000000,62790.960000,215.180000
max,91.430000,59.000000,77143.610000,269.960000

In [27]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   float64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Gender                    1000 non-null   object
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   object
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 78.2+ KB